@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    font-family: "Tilt Warp", serif;
    background-color: #0e0d0f;
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 15px;
}


.weapons{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.right-side{
    margin-inline: 50px;
    display: flex;
    justify-content: space-around;

}
.right-side-text{
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    justify-content: space-around;
}

.round, .score{
    margin-left: 10px;
}

.weapImg{
    height: 200px;
    width: auto;
}

.chosenWeapons {

    height: 100px;
    width: auto;
}

.resultsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resultsContainer h3{
    align-items: start;
    width: auto;
}

.player{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.computer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.roundOutcome{
    width: 300px;
    text-align: center;
}

.outcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 50px;
}
.playerWeaponImg{
    margin-top: 20px;
}

button{
    border: none;
}

button[disabled]{
    opacity: 0.5;
}

.resultsText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.resultsText h3{
    font-size: 30px;
}

.gameButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.gameButtons button{
    font-size: 40px;
    animation: pulse 3s infinite;
    opacity: 0%;
    
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }

}